@page
@model RegisterModel

<div class="index-container">
    <div class="subcontainer">
        <h1 class="title">Register Page</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @if(!ViewData.ModelState.IsValid) {
                <div asp-validation-summary="All" class="noti-error" role="alert"></div>
            }   
            <div class="form-container auth-form">
                <div class="form-input">
                    <label asp-for="Input.Email">Email:</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Type your email here" required />
                </div>
                <div class="form-input">
                    <label asp-for="Input.Password">Password:</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Type your password here" required />
                </div>
                <div class="form-input">
                    <label asp-for="Input.ConfirmPassword">Confirm Password:</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Repeat your password here" required />
                </div>
                <p class="side-link">Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login!</a></p>
                <button type="submit" class="button submit-button auth-button">Register</button>
            </div>
        </form>
    </div>
</div>
