@model PollVM
<div class="index-container">
    <div class="subcontainer">
        <h1 class="title">Poll Creator</h1>
        <form method="POST" asp-action="Create">
            <div class="form-container">
                <div class="form-input">
                    <label for="Poll.Question">Question:</label>
                    <input asp-for="Poll.Question" type="text" placeholder="Type the poll question here" required>
                </div>
                <div class="form-input">
                    <div class="form-input form-options-container">
                        <label>Answer Options:</label>
                        <div class="form-option">
                            <input name="PollOptions[0].Option" type="text" placeholder="Option 1" required>
                            <img src="~/images/icons/cross.svg" alt="remove-option" width="30px" class="remove-option" onclick="removeOption(this)">
                        </div>
                        <div class="form-option">
                            <input name="PollOptions[1].Option" type="text" placeholder="Option 2" required>
                            <img src="~/images/icons/cross.svg" alt="remove-option" width="30px" class="remove-option" onclick="removeOption(this)">
                        </div>
                    </div>
                    <button type="button" class="button side-button icon-button">Add Option <img src="~/images/icons/plus.svg" alt="add-option" width="25px"></button>
                </div>
                <div class="form-input form-settings-container">
                    <h3>Poll Settings:</h3>
                    <div class="form-setting">
                        <label for="poll-end">End poll after:</label>
                        <div class="poll-end-input-container">
                            <select name="poll-end" id="poll-end" required>
                                <option selected disabled hidden>Select...</option>
                                <option value="deadline">Deadline date</option>
                                <option value="votes">Number of votes</option>
                                <option value="never">Never</option>
                            </select>
                            <input asp-for="PollSetting.Deadline" type="datetime-local" class="poll-settings-input" id="settings-deadline" min="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")">
                            <input asp-for="PollSetting.VoteLimit" type="number" class="poll-settings-input" id="settings-votes" placeholder="Votes..." min="1">
                        </div>
                    </div>
                    <div class="form-setting">
                        <label>Require captcha:</label>
                        @Html.CheckBoxFor(model => model.PollSetting.HasCaptcha)     
                        <label for="PollSetting_HasCaptcha" class="custom-checkbox"></label>
                    </div>
                    <div class="form-setting">
                        <label>Hide results:</label>
                        @Html.CheckBoxFor(model => model.PollSetting.HideResults)
                        <label for="PollSetting_HideResults" class="custom-checkbox"></label>
                    </div>
                </div>
                <button type="submit" class="button submit-button">Create!</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/answer-options.js" asp-append-version="true"></script>
    <script src="~/js/poll-settings.js" asp-append-version="true"></script>
}