<div class="index-container">
    <div class="subcontainer">
        <h1 class="title">Want to join a poll?</h1>
        <partial name="_Notifications" />
        <h2 class="subtitle">Input the poll code below:</h2>
        <form method="GET" asp-action="Join">
            <div class="join-poll-code-input">
                <input type="text" class="code-input" maxlength="1" required>
                <input type="text" class="code-input" maxlength="1" required>
                <input type="text" class="code-input" maxlength="1" required>
                <input type="text" class="code-input" maxlength="1" required>
                <input type="text" class="code-input" maxlength="1" required>
                <input type="text" class="code-input" maxlength="1" required>
            </div>
            <input type="hidden" name="code" class="code-input-hidden" />
            <button type="submit" class="button submit-button">Join</button>
        </form>
    </div>
    <h3>OR</h3>
    <div class="subcontainer">
        <h1 class="title">Want to create a poll?</h1>
        <a asp-controller="Poll" asp-action="Create" class="button submit-button">Create!</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/code-input.js" asp-append-version="true"></script>
}