@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "/", new { area = "" })">
            <a id="logout" onclick="this.closest('form').submit();return false;" class="nav-link text-dark">Logout</a>
        </form>
    </li>
    <li>
        <a class="button" asp-controller="Poll" asp-action="AccountPolls">My Polls</a>
    </li>
}
else
{
    <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li>
        <a id="register" asp-area="Identity" asp-page="/Account/Register" class="button">Register</a>
    </li>
}
